<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存，默认true -->
        <!--<setting name="cacheEnabled" value="true"/>-->
        <!-- 延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。 特定关联关系中可通过设置fetchType属性来覆盖该项的开关状态。默认true -->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!-- 当开启时，任何方法的调用都会加载该对象的所有属性。否则，每个属性会按需加载（参考lazyLoadTriggerMethods)。默认true -->
        <!--<setting name="aggressiveLazyLoading" value="true"/>-->
        <!-- 是否允许单一语句返回多结果集（需要兼容驱动）。默认true -->
        <!--<setting name="multipleResultSetsEnabled" value="true"/>-->
        <!-- 使用列标签代替列名。不同的驱动在这方面会有不同的表现， 具体可参考相关驱动文档或通过测试这两种不同的模式来观察所用驱动的结果。默认false -->
        <!--<setting name="useColumnLabel" value="true"/>-->
        <!-- 允许 JDBC 支持自动生成主键，需要驱动兼容。 如果设置为 true 则这个设置强制使用自动生成主键，尽管一些驱动不能兼容但仍可正常工作（比如 Derby）。 -->
        <!--<setting name="useGeneratedKeys" value="false"/>-->
        <!--
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
        -->
    </settings>
    <typeAliases>
        <!--
            别名定义,这样mapper.xml里就可以直接使用类名而不用全写，不过namespace除外
            不过也可以通过在javabean上用@Alias注解定义别名，如@Alias(user)
         -->
        <!-- 针对单个别名定义 type：类型的路径 alias：别名 -->
        <!--<typeAlias type="com.darkbright.frameworks.domain.entity.User" alias="user" />-->
        <!-- 批量别名定义 指定包名，mybatis自动扫描包中的entity类，自动定义别名，别名就是类名（首字母大写或小写都可以） -->
        <package name="com.darkbright.frameworks.domain.entity"/>
        <package name="com.darkbright.frameworks.domain.dto"/>
    </typeAliases>
</configuration>